
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Good Code</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Buy Price</th>
                    <th>Minimal Sell Price</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="good in goods">
                    <td>
                        {{ good.Code }}
                    </td>
                    <td>
                        {{ good.Name }}
                    </td>
                    <td>
                        {{ good.Stock }}
                    </td>
                    <td>
                        {{ good.BuyPrice }}
                    </td>
                    <td>
                        {{ good.MinimalSellPrice }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
